#inicio{
	background: #252525;
}
#contenido{
	margin-top: 25%;
}
#contenido2{
	margin-top: 5%;
}
body{
	background: #252525;
}
.datosFooter{
	display: inline-block;
	width: 32%;
}
.datosFooter:nth-child(1), .datosFooter:nth-child(2){
	text-align: center;
}
.datosFooter:nth-child(3){
	text-align: right;
}
.informacion{
	border-collapse: collapse;
}
.informacion, 
.informacion th,
.informacion td{
	font-size: 14px;
	text-align: center;
	color:#000000;
	font-family:'arial';
	text-decoration:none;
}
.informacion th{
	font-weight: bold;
}
.informacion th, .informacion td{
	border-bottom:1px solid #000000;
}
.tabla{
	display: table;
	width: 100%;
}
.bordes{
	display: table-row;
}
.bordes div{
	font-size: 14px;
	border: 1px solid black;
	padding: 2px 3px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: 32%;
	margin-top: 0px;
	margin-bottom: 0px;
	height:100%;
}
.bordes div:nth-child(1){
	float:left;
}
.bordes div:nth-child(2){
	float:inherit;
}
.bordes div:nth-child(3){
	float:right;
}

.encabezado{
	font-weight: bold;
}


.ui-popup-container,
.ui-popup{
	height: auto;
	width: 90%;
	position: absolute;;
	top: 30px !important;
	left: 0;
}

.ui-popup-screen.in{
	background: black;
	opacity: 0.6 !important;
}

#popupfoto img{
	width: 100%;
}



#fotoTomadaRegistro{
	margin-top: 30px;
	text-align: center;
}

#fotoTomadaRegistro img{
	width: 80%;
}
#enviar{
	text-align: center;
}
#botonEnviaDatos img{
	margin-top: 10px;
	margin-right: 10px;
	width: 15%;
}
#cargando div{
	position: absolute;
	/*nos posicionamos en el centro del navegador*/
	top:50%;
	left:50%;
	/*determinamos una anchura*/
	width:200px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	margin-left:-100px;
	/*determinamos una altura*/
	height:200px;
	/*indicamos que el margen superior, es la mitad de la altura*/
	margin-top:-100px;
	
}
#cargando div img{
	height: 95%;
	
}
