<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets" 
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.cae3076.cuentaGastosApp"
        version     = "2.2.1"
        versionCode = "2.2" 
        xmlns:android = "http://schemas.android.com/apk/res/android" 
        xmlns:cdv = "http://cordova.apache.org/ns/1.0">

		<!-- versionCode is optional and Android only -->
		
      	<!--<preference name="phonegap-version" value="3.7.0" />-->
        

        <!--<platform name="android">
            <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
                <application android:usesCleartextTraffic="true" />
            </edit-config>
        </platform>    

        <network-security-config>
            <domain-config cleartextTrafficPermitted="true">
                <domain includeSubdomains="true">"http://200.92.207.198:50081"</domain>
            </domain-config>
        </network-security-config>-->

        <config-file platform="android" parent="/manifest" mode="merge">
            <application android:usesCleartextTraffic="true" />
        </config-file>

		<platform name="android">
      		<preference name="phonegap-version" value="cli-9.0.0" />
      	</platform>
		
		<preference name="android-minSdkVersion" value="29" />
		<preference name="android-targetSdkVersion" value="29" />
		<preference name="android-maxgetSdkVersion" value="32" />
		
        <preference name="SplashScreenDelay" value="5000" />
		
		<preference name="android-build-tool" value="gradle" />

        <name>Control de Entregas</name>
		<description>
            Aplicación para controlar la entrega de cuentas de gastos.
        </description>
		<author href="#" email="sistemas_cae@cae3076.com">
            Sistemas CAE
        </author>
        
        
        <icon src="img/icon/android/icono2.png"/>
        <icon src="img/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
        <icon src="img/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
        <icon src="img/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
        <icon src="img/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
        <icon src="img/icon/ios/icon-120.png"           gap:platform="ios"        width="120" height="120" />
        <icon src="img/icon/ios/icon-76.png"            gap:platform="ios"        width="76" height="76" />
        <icon src="img/icon/ios/icon-152.png"           gap:platform="ios"        width="152" height="152" />
        
		<splash src="img/splash/android/splash_android.png" platform="android"/>
        <gap:splash src="img/splash/ios/splash_ios.png" platform="ios" width="640" height="1136"/>

       	<gap:config-file platform="ios" parent="NSCameraUsageDescription" overwrite="true">
   			<string>La aplicacion utiliza la camara para leer los codigos de barras</string>
		</gap:config-file>

        <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
        <gap:plugin name="cordova-plugin-qr-barcode-scanner" source="npm"/>
        <gap:plugin name="cordova-plugin-network-information" source="npm"/>
        <gap:plugin name="cordova-plugin-x-toast" source="npm" />
        <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
        <gap:plugin name="cordova-plugin-media-capture" source="npm"/>
        <gap:plugin name="cordova-plugin-file-transfer" source="npm"/>

        <access origin="*"/>
        <allow-intent href="*"/>
        <allow-navigation href="*"/>
    </widget>
